<div class="headingdiv" id="headingdivid">
    <h1 onclick="redirectToPlanner()">My Daily Blog Planner</h1>
    <p>Start planning your blog-writing journey here!</p>
</div>
<div class="bulb-img" id="bulbimgid">
    <img id="fimgid" src="/bulb.jpg" alt="bulb image" class="bulbimg">
</div>

