<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Thought Alley</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Caveat&family=Madimi+One&family=Neucha&family=Nunito:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    
</head>
<body>
<div class="container-1">
    <form class="navbar" method="post">
        <input type="submit" value="Home" id="home" formaction="/home">
        <input type="submit" value="About" id="about" formaction="/about">
        <input type="submit" value="Sign in" id="signin" formaction="/signin">
        <input type="submit" value="Sign up" id="signup" formaction="/signup">
        <input type="submit" value="Blogs" id="blogs" formaction="/blogz">
        <input type="submit" value="Log out" id="logout" formaction="/logout">

    </form>
</div>


</body>
</html>